<!-- <form [formGroup]="form" (ngSubmit)="submitForm()" novalidate>
    <div *ngFor="let data of Data; let i=index">
        <label>
          <input type="checkbox" [value]="data.value" (change)="onCheckboxChange($event)" />
          {{data.name}}
        </label>
      </div>
      <p class="error" *ngIf="this.form.controls['checkArray'].errors?.required">
        Checkbox is required, select at least one value.
      </p >
    <input type="submit" value="Submit">
</form> -->

<mat-vertical-stepper linear #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <!-- <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>What is your preferred mode(s) of transportation?</ng-template>
      <section class="example-section">
        <mat-checkbox required formControlName = 'check1' id = 'check1' class="example-margin" [(ngModel)]="Walking">Walking</mat-checkbox>
        <mat-checkbox required formControlName = 'check2' id ='check2' class="example-margin" [(ngModel)]="PublicTransit">Public Transit</mat-checkbox>
        <mat-checkbox required formControlName = 'check3' id = 'check3' class="example-margin" [(ngModel)]="Biking">Biking</mat-checkbox>
      </section>
      <div class="invalid-feedback" *ngIf="firstFormGroup.controls['myCheckboxGroup'].errors && firstFormGroup.controls['myCheckboxGroup'].errors.requireOneCheckboxToBeChecked">Please check at least one checkbox</div> -->
      
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Fill out your name</ng-template>
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput formControlName="firstCtrl" placeholder="Last name, First name" required>
        </mat-form-field>
      
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>What is the maximum time you would like to spend <br>detouring your trip?</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>time in minutes</mat-label>
        <mat-select [(value)]="selected">
          <mat-option value="5mins">Less than 5 minutes</mat-option>
          <mat-option value="10mins">Less than 10 minutes</mat-option>
          <mat-option value="15mins">Less than 15 minutes</mat-option>
          <mat-option value="nolimit">No Limit</mat-option>
        </mat-select>      
      </mat-form-field>    
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="thirdFormGroup">
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>Where do you want to avoid?</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>locations</mat-label>
        <mat-select [(value)]="selected2">
          <mat-option value="hospital">I want to avoid hospitals and/or COVID-19 assessment centers</mat-option>
          <mat-option value="shopping">I want to avoid public gathering areas (i.e. shopping malls)</mat-option>
          <mat-option value="street">I want to avoid overcrowded streets</mat-option>
          <mat-option>None</mat-option>
        </mat-select>      
      </mat-form-field>    
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-vertical-stepper>