<h1 mat-dialog-title>Welcome!</h1>
<div mat-dialog-content>
    <p>Welcome to COVID-19 TravelSafe Navigation Tool! This application will help you to find a COVID 19-free route based on your customization.</p>
    <p>To start, we would like to ask the following questions to set up, or you can skip for now and find them in the side bar later.</p>

</div>
<div mat-dialog-actions>
    <button mat-raised-button cdkFocusInitial (click)="openDialog(); onNoClick()">Continue</button>
    <button mat-button (click)="onNoClick()">skip</button>
</div>