<h1 mat-dialog-title>It's all set up!</h1>


<mat-form-field appearance="outline" style="margin-left: 35px;">
    <mat-label>Statring Latitude</mat-label>
    <input matInput placeholder="e.g.43.6532°">
    <mat-icon matSuffix>keyboard_arrow_right</mat-icon>
</mat-form-field>

<mat-form-field appearance="outline" style="margin-left: 35px;">
    <mat-label>Starting Longitude</mat-label>
    <input matInput placeholder="e.g.-79.3832°">
    <mat-icon matSuffix>keyboard_arrow_right</mat-icon>
</mat-form-field>

<mat-form-field appearance="outline" style="margin-left: 35px;">
    <mat-label>Destination Latitude</mat-label>
    <input matInput placeholder="e.g.43.8561° ">
    <mat-icon matSuffix>keyboard_arrow_right</mat-icon>
</mat-form-field>

<mat-form-field appearance="outline" style="margin-left: 35px;">
    <mat-label>Destination Longitude</mat-label>
    <input matInput placeholder="e.g.-79.3370°">
    <mat-icon matSuffix>keyboard_arrow_right</mat-icon>
</mat-form-field>
<div>
    <button mat-raised-button>Start</button></div>