/* @import '~@angular/material/prebuilt-themes/indigo-pink.css'; */

.map {
    height: 100px;
    /* width: 100%; */
}

mat-sidenav {
    width: 450px
}

.mat-dialog-title {
    text-align: center;
    margin-top: 30px;
    color: purple;
    font-size: 20px;
}

.mat-raised-button {
    text-align: center;
    color: white;
    background-color: purple;
    /* left: 40%; */
    margin-left: 35px;
    margin-bottom: 35px;
}

.mat-button{
    margin-left: 35px;
}
.mat-slide-toggle{
    margin-left: 35px;
}