<mat-sidenav-container auosize>
    <mat-sidenav #sidenav mode="side" [(opened)]="open">
        <app-mybar [inputSideNav]="sidenav"></app-mybar>
    </mat-sidenav>
    <mat-sidenav-content>
        <div id="willhide">
            <div>
                <div>
                    <label for="start">Starting Location</label>
                    <input id="start" type="string" [(ngModel)]="start_add" placeholder="start">
                </div>
                <!-- <div>
                    <label for="longitude">Longitude:</label>
                    <input id="longitude" type="number" [(ngModel)]="longitude" placeholder="Longitude">
                </div> -->
                <div>
                    <label for="end">Your Destination</label>
                    <input id="end" type="string" [(ngModel)]="end_add" placeholder="destination">
                </div>
                <!-- <div>
                    <label for="longitude">Longitude:</label>
                    <input id="end_long" type="number" [(ngModel)]="end_long" placeholder="Longitude">
                </div> -->
                <button (click)="setMarker(); sidenav.toggle(); drawLine2()">Go</button>
            </div>
            <div>
                <mat-slide-toggle [disabled]="" [checked]=""> Show COVID19 Map</mat-slide-toggle>
            </div>
            <div>

                <button mat-raised-button (click)="openWelcome()">Open questionaire</button>
            </div>
        </div>

        <br>
        <div id="map" class map></div>
        <div id="mouse-position"></div>
    </mat-sidenav-content>
</mat-sidenav-container>