.mat-stepper-vertical {
    margin-top: 8px;
  }
  
  .mat-form-field {
    margin-top: 16px;
  }
  
  .mat-dialog-actions{
    height: 120px;
    width: 100px;
    position: center;
    }

.mat-dialog-title{
    color: purple;
    position: center;
    font-size: 30px;
    
}

.mat-raised-button{
    text-align: center;
    color: white;
    background-color: purple;
    left: 100%;
}

.mat-button{
    text-align: center;
    color:purple;
    font:10px;
    text-decoration: underline;
    margin: 0;
    left: 100%;
    
}