    mat-label {
        color: white;
        background-color: #2A0968;
        padding: 5px;
        margin-right: 30px;
    }
    
    ul {
        list-style-type: none;
        margin-top: 4px;
    }
    mat-slider{
        width: 300px;
    }

      
      /* .example-h2 {
        margin: 0 8px 16px;
      }
      
    .example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
    }
    
    .margin {
    margin: 8px;
    }
    
    .mat-slider-horizontal {
    width: 300px;
    }
    
    .mat-slider-vertical {
    height: 300px;
    }
    
    .mat-card{
    margin-top: 8px;
    }
    
    .example-result-card h2 {
    margin: 0 8px;
    } */