
<mat-tab-group dynamicHeight>
    <mat-tab label="Walking">
        <mat-list>
            <mat-list-item>
                <mat-label>{{route[0].time}} mins</mat-label>
                {{route[0].description}}
                <p style = "float:right">{{route[0].distance}} meters</p>
                <mat-icon>keyboard_arrow_right</mat-icon>

            </mat-list-item>

            <mat-divider></mat-divider>
            <mat-list-item>
                <mat-label>{{route[1].time}} mins</mat-label>
                {{route[1].description}}
                <mat-label style = "float:right">{{route[1].distance}} meters</mat-label>
                <mat-icon>keyboard_arrow_right</mat-icon>

            </mat-list-item>

            <mat-divider></mat-divider>
            <mat-list-item>
                <mat-label>{{route[1].time}} mins</mat-label>
                {{route[3].description}}
                <mat-label style = "float:right">{{route[2].distance}} meters</mat-label>
                <mat-icon>keyboard_arrow_right</mat-icon>
            </mat-list-item>

            <mat-divider></mat-divider>


        </mat-list>
    </mat-tab>
    <mat-tab label="Transit"> TODO </mat-tab>
    <mat-tab label="Sharebike"> TODO </mat-tab>
</mat-tab-group>