<mat-tab-group dynamicHeight (selectedTabChange)="tabChange($event)" [(selectedIndex)]="selectedIndex">
    <mat-tab label="Walking">
    <hr style="border-top:none">
    <ng-container *ngFor="let key of Object.keys(walk)">
    <mat-grid-list cols = "9" rowHeight = "50px">
    <mat-grid-tile colspan = "2">
    <mat-label style = "color: white;background-color: #2A0968; padding: 5px;">{{walk[key].time}} mins</mat-label>
    </mat-grid-tile>
    <mat-grid-tile colspan = "7">
    <mat-list style="overflow:scroll; list-style-type: none;">
    <mat-icon style="color: #413458; display: inline-flex; vertical-align: middle;"> directions_walk</mat-icon>
    <mat-label style="font-size: medium;"> {{walk[key].description}} </mat-label>
    </mat-list>
    </mat-grid-tile> 
    </mat-grid-list>
    <span style="font-size: small; font: inherit !important;float:right;margin-right: 20px;"> Estimated Number of Total Pedestrians Encountered: </span>
    <br>
    <mat-label style="float:right; font-size: small; font: inherit !important;color:white;background-color: #2A0968;margin-right: 20px;">  {{walk[key].totalwalkpedcount}} pedestrians  </mat-label>
    <br>
    <br>
    <span style="font-size: small; font: inherit !important;float:right;margin-right: 20px;"> Total Distance: </span>
    <br>
    <mat-label style = "float:right; font-size:small;font: inherit !important; margin-right: 20px; color:white;background-color: #2A0968;line-height:0.5">  {{walk[key].distance}} km  </mat-label>
    <br>
    <br>
    </ng-container>
    
    <!-- <hr style="border-top:1px solid black"> -->
    <!-- <mat-grid-list cols = "9" rowHeight = "110px">
    <mat-grid-tile colspan = "2">
    <mat-label style = "color: white;background-color: #2A0968; padding: 5px;">{{walk[1].time}} mins</mat-label>
    </mat-grid-tile>
    <mat-grid-tile colspan = "7">
    <li style="list-style-type: none;">
    <mat-icon style="color: #2A0968; margin-top: 20px; margin-bottom: 20px; display: inline-flex; vertical-align: middle;"> directions_walk</mat-icon>
    <mat-label class = "description"> Optional Walking Route </mat-label>
    </li>
    </mat-grid-tile> 
    </mat-grid-list>
    <br>
    <span style = "float:right; font-size:small; margin-right: 16px;color:blue; line-height:0.5">{{walk[1].distance}} km</span> -->
    
    <!-- <hr>
    <mat-grid-list cols = "9" rowHeight = "110px">
    <mat-grid-tile colspan = "2">
    <mat-label style = "color: white;background-color: #2A0968; padding: 5px;">{{walk[2].time}} mins</mat-label>
    </mat-grid-tile>
    <mat-grid-tile colspan = "7">
    <li style="list-style-type: none;">
    <mat-icon style="color: #2A0968; margin-top: 20px; margin-bottom: 20px; display: inline-flex; vertical-align: middle;"> directions_walk</mat-icon>
    <mat-label class = "description"> Optional Walking Route </mat-label>
    </li>
    </mat-grid-tile> 
    </mat-grid-list>
    <br>
    <span style = "float:right; font-size:small; margin-right: 16px;color:blue; line-height:0.5">{{walk[2].distance}} km</span> -->
    
    <hr style="border-top:none">
    
    </mat-tab>
    <ng-container *ngIf = "visible">
    <mat-tab label="Transit"> 
    <!-- <ul> -->
    <hr style="border-top:none">
    <div class="tileContainer">
    <mat-grid-list style = "width: 100%; height: fit-content !important;" cols = "9" rowHeight = "250px">
    <mat-grid-tile colspan = "2">
    <mat-label *ngFor = "let key of Object.keys(bus)" style = "color: white;background-color: #2A0968; padding: 5px;">{{bus[key].time}} mins</mat-label>
    </mat-grid-tile>
    <mat-grid-tile colspan = "7">
    <mat-list style="height: inherit !important;list-style-type: none; overflow: auto;">
    <ng-container *ngFor="let item of [].constructor(len); let index = index">
    <span style="margin-bottom: 20px;"> # {{line[index]}} : {{nstop[index]}} stops</span>
    <br>
    <span style="margin-bottom: 20px;">Start @ {{start[index]}}</span>
    <br>
    <span style="margin-bottom: 20px;">Get Off @ {{end[index]}}</span> 
    <br>
    </ng-container> 
    <mat-icon style="color: #2A0968; margin-top: 20px; margin-bottom: 20px; display: inline-flex; vertical-align: middle;"> directions_walk</mat-icon>
    <span *ngFor = "let key of Object.keys(bus)"> {{bus[key].walkingtime}} mins </span>
    <span> -- </span>
    <!-- <br> -->
    <mat-icon style="color: #2A0968; display: inline-flex; vertical-align: middle;"> directions_transit</mat-icon>
    <span *ngFor = "let key of Object.keys(bus)"> {{bus[key].ttctime}} mins </span>
    <br>
    <mat-label class = "description"> Best Transit Route </mat-label>
    </mat-list>
    </mat-grid-tile>
    </mat-grid-list>
    <br>
    <br>
    <span style="font-size: small; font: inherit !important;float:right;margin-right: 20px;">Estimated Number of Total Pedestrians Encountered: </span>
    <br>
    <span *ngFor = "let key of Object.keys(bus)" style="float:right; font-size: small; font: inherit !important;color:white;background-color: #2A0968;margin-right: 20px;">  {{bus[key].totalwalkpedcount}} pedestrians  </span>
    <br>
    <br>
    <span style="font-size: small; font: inherit !important;float:right;margin-right: 20px;">Estimated Average of Bus Occupancy Percentage: </span>
    <br>
    <span *ngFor = "let key of Object.keys(bus)" style="float:right; font-size: small; font: inherit !important;color:white;background-color: #2A0968;margin-right: 20px;">  {{bus[key].avgoccupancypercent}} %  </span>
    <br>
    <br>
    <span style="font-size: small; font: inherit !important;float:right;margin-right: 20px;">Total Distance: </span>
    <br>
    <span *ngFor = "let key of Object.keys(bus)" style="float:right; font-size: small; font: inherit !important;color:white;background-color: #2A0968;margin-right: 20px;">{{bus[key].distance}} km</span>
    <br>
    <!-- <div *ngFor="let key of Object.keys(walk)">
    <p>Key-> {{key}} and value is -> {{walk[key].time}}</p>
    </div> -->
    <!-- <hr>
    <mat-grid-list cols = "9" rowHeight = "110px">
    <mat-grid-tile colspan = "2">
    <mat-label style = "color: white;background-color: #2A0968; padding: 5px;">{{bus[1].time}} mins</mat-label>
    </mat-grid-tile>
    <mat-grid-tile colspan = "7">
    <li style="list-style-type: none;">
    <span style="margin-bottom: 20px;"> Transit: {{bus[1].ttcname}} </span>
    <br>
    <mat-icon style="color: #2A0968; margin-top: 20px; margin-bottom: 20px; display: inline-flex; vertical-align: middle;"> directions_walk</mat-icon>
    <span> {{bus[1].walkingtime}} mins </span>
    <span> -- </span>
    <mat-icon style="color: #2A0968; display: inline-flex; vertical-align: middle;"> directions_transit</mat-icon>
    <span> {{bus[1].ttctime}} mins </span>
    <br>
    <mat-label class = "description"> Optional Route </mat-label>
    </li>
    </mat-grid-tile> 
    </mat-grid-list>
    <br>
    <span style = "float:right; font-size:small; margin-right: 16px;color:blue; line-height:0.5">{{bus[1].distance}} km</span>
    
    <hr>
    <mat-grid-list cols = "9" rowHeight = "110px">
    <mat-grid-tile colspan = "2">
    <mat-label style = "color: white;background-color: #2A0968; padding: 5px;">{{bus[2].time}} mins</mat-label>
    </mat-grid-tile>
    <mat-grid-tile colspan = "7">
    <li style="list-style-type: none;">
    <span style="margin-bottom: 20px;"> Transit: {{bus[2].ttcname}} </span>
    <br>
    <mat-icon style="color: #2A0968; margin-top: 20px; margin-bottom: 20px; display: inline-flex; vertical-align: middle;"> directions_walk</mat-icon>
    <span> {{bus[2].walkingtime}} mins </span>
    <span> -- </span>
    <mat-icon style="color: #2A0968; display: inline-flex; vertical-align: middle;"> directions_transit</mat-icon>
    <span> {{bus[2].ttctime}} mins </span>
    <br>
    <mat-label class = "description"> Optional Route </mat-label>
    </li>
    </mat-grid-tile> 
    </mat-grid-list>
    <br>
    <span style = "float:right; font-size:small; margin-right: 16px;color:blue; line-height:0.5">{{bus[2].distance}} km</span>
    <hr style="border-top:none"> -->
    
    <!-- </ul> -->
    </div>
    </mat-tab>
    </ng-container>
   </mat-tab-group>