<mat-tab-group dynamicHeight>
    <mat-tab label="Walking">
        <mat-list>
            <mat-list-item>
                <mat-label>20 mins</mat-label>
                Fatest Route but may die
                <mat-icon>keyboard_arrow_right</mat-icon>

            </mat-list-item>

            <mat-divider></mat-divider>
            <mat-list-item>
                <mat-label>30 mins</mat-label>
                2nd fatest route, no patios
                <mat-icon>keyboard_arrow_right</mat-icon>

            </mat-list-item>

            <mat-divider></mat-divider>
            <mat-list-item>
                <mat-label>30 mins</mat-label>
                slowest but safest
                <mat-icon>keyboard_arrow_right</mat-icon>

            </mat-list-item>

            <mat-divider></mat-divider>


        </mat-list>
        <mat-card class="result-card">
            <mat-card-content>
            <h2>COVID-19 Safety Level</h2>
            <div id = "{{'container-' + slider.value}}">
                <mat-slider #slider
                (change)="updateSetting($event); newMessage()"
                max="5"
                min="0"
                thumbLabel=true
                value = "0">
                </mat-slider>
            </div>    
            </mat-card-content>
          </mat-card>
    </mat-tab>
    <mat-tab label="Transit"> TODO </mat-tab>
    <mat-tab label="Sharebike"> TODO </mat-tab>
</mat-tab-group>